	<footer class="site-footer">
		<div class="container">

			<div class="row">
				<div class="widget-area col-md-3">
				<h4 class="widget-title">Footer 1</h4>
				</div>
				<div class="widget-area col-md-3">
					<h4 class="widget-title">Footer 2</h4>
				</div>
				<div class="widget-area col-md-3">
					<h4 class="widget-title">Footer 3</h4>
				</div>
				<div class="widget-area col-md-3">
					<h4 class="widget-title">Footer 4</h4>
				</div>
			</div>
			
		</div>
	</footer>
	<div class="ssm-overlay ssm-toggle-nav"></div>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.3/jquery.min.js"></script>
	<script src="http://labs.rampinteractive.co.uk/touchSwipe/jquery.touchSwipe.min.js"></script>
	<script src="{{ "/js/main.js" | prepend: site.baseurl }}"></script>
	<script src="{{ "/js/slideandswipe.js" | prepend: site.baseurl }}"></script>

	<script>
		$(document).ready(function() {
			$('.site-navigation').slideAndSwipe();
		});
	</script>
	{% include analytics.html %}
</body>
</html>