<!DOCTYPE html>
<html>
<head>
	<title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
	<meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

	<link rel="shortcut icon" href="{{ "/assets/images/favicon.ico" | prepend: site.baseurl }}">
	<meta name="theme-color" content="#0088cc">

	<!-- Social -->
	<meta property="og:locale" content="es_ES"/>
	<meta property="og:type" content="website"/>
	<meta property="og:title" content="{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}"/>
	<meta property="og:description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}"/>
	<meta property="og:url" content="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}"/>
	<meta property="og:site_name" content="{{ site.title | escape }}"/>
	<meta property="fb:app_id" content="100563910042312"/>
	<meta property="og:image" content="{{ page.cover | escape }}"/>
	<meta name="twitter:card" content="summary_large_image"/>
	<meta name="twitter:description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}"/>
	<meta name="twitter:title" content="{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}"/>
	<meta name="twitter:site" content="@{{ site.twitter_username }}"/>
	<meta name="twitter:image" content="{{ page.cover | escape }}"/>

	<!-- Styles -->
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic">
	<link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
	
	<script>
		(function() { 
			var CSSCriticalPath = function(w, d, opts) {
				var opt = opts || {};
				var css = {};
				var pushCSS = function(r) {
					if(!!css[r.selectorText] === false) css[r.selectorText] = {};
					var styles = r.style.cssText.split(/;(?![A-Za-z0-9])/);
					for(var i = 0; i < styles.length; i++) {
						if(!!styles[i] === false) continue;
						var pair = styles[i].split(": ");
						pair[0] = pair[0].trim(); 
						pair[1] = pair[1].trim();
						css[r.selectorText][pair[0]] = pair[1];
					}
				};

				var parseTree = function() { 
      // Get a list of all the elements in the view.
      var height = w.innerHeight;
      var walker = d.createTreeWalker(d, NodeFilter.SHOW_ELEMENT, function(node) { return NodeFilter.FILTER_ACCEPT; }, true);

      while(walker.nextNode()) {
      	var node = walker.currentNode;
      	var rect = node.getBoundingClientRect();
      	if(rect.top < height || opt.scanFullPage) {
      		var rules = w.getMatchedCSSRules(node);
      		if(!!rules) {
      			for(var r = 0; r < rules.length; r++) {
      				pushCSS(rules[r]); 
      			}
      		}
      	} 
      }
  };

  this.generateCSS = function() {
  	var finalCSS = "";
  	for(var k in css) {
  		finalCSS += k + " { ";
  		for(var j in css[k]) {
  			finalCSS += j + ": " + css[k][j] + "; ";
  		}
  		finalCSS += "}\n";
  	}

  	return finalCSS;
  };

  parseTree();
};


var cp = new CSSCriticalPath(window, document);
var css = cp.generateCSS();

console.log(css);
})();
</script>
	
	<!-- Schema -->
	<script type="application/ld+json">
		{
			"@context": "http://schema.org",
			"@type": "WebSite",
			"name": "{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}",
			"headline": "{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}",
			"description": "{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}",
			"logo": "{{ site.logo }}",
			"url": "{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}"
		}
	</script>
</head>
<body>
