<div class="social-container">
	<a rel="nofollow" class="social-link social-twitter" href="https://twitter.com/intent/tweet?text={{ page.title | uri_escape }}&url={{ site.url }}{{ page.url | uri_escape }}" target="_blank"><i class="fa fa-twitter"></i></a>
	<a rel="nofollow" class="social-link social-facebook" href="https://www.facebook.com/sharer/sharer.php?u={{ site.url }}{{ page.url | uri_escape }}" target="_blank"><i class="fa fa-facebook"></i></a>
	<a rel="nofollow" class="social-link social-googleplus" href="https://pinterest.com/pin/create/button/?url={{ site.url }}{{ page.url | uri_escape }}&media={{ site.image_path }}{{ page.cover }}&description={{ page.title | uri_escape }}" target="_blank"><i class="fa fa-pinterest"></i></a>
</div>