

@media(max-width: 414px){
  html {
    font-size: 14.3px;
  }
}

@media(min-width: 414px){
  html {
    font-size: 15px;
  }
}

@media(min-width: 768px){
  html {
    font-size: 16px;
  }
}

@media(min-width: 1024px){
  html {
    font-size: 17px;
  }
}