table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 1rem;
}

table th,
table td {
  padding: 0.75rem;
  vertical-align: top;
  border-top: 1px solid #eceeef;
}

table thead th {
  vertical-align: bottom;
  border-bottom: 2px solid #eceeef;
}

table tbody + tbody {
  border-top: 2px solid #eceeef;
}

table table {
  background-color: #fff;
}



table tbody tr:nth-of-type(odd) {
  background-color: rgba(0, 0, 0, 0.05);
}

table tbody tr:hover {
  background-color: rgba(0, 0, 0, 0.075);
}


thead th {
  color: #fff;
  background-color: #373a3c;
}

.table-responsive {
  display: block;
  width: 100%;
  min-height: .01%;
  overflow-x: auto;
}